[submodule "FlameSteelFramework/FlameSteelCore"]
	path = project/include/FlameSteelFramework/FlameSteelCore
	url = https://gitlab.com/demensdeum/FlameSteelCore
[submodule "FlameSteelFramework/FlameSteelEngineGameToolkit"]
	path = project/include/FlameSteelFramework/FlameSteelEngineGameToolkit
	url = https://gitlab.com/demensdeum/FlameSteelEngineGameToolkit
[submodule "FlameSteelFramework/FSGL"]
	path = project/include/FlameSteelFramework/FSGL
	url = https://gitlab.com/demensdeum/FSGL.git
[submodule "FlameSteelFramework/FlameSteelEngineGameToolkitFSGL"]
	path = project/include/FlameSteelFramework/FlameSteelEngineGameToolkitFSGL
	url = https://gitlab.com/demensdeum/FlameSteelEngineGameToolkitFSGL.git
[submodule "FlameSteelFramework/FlameSteelBattleHorn"]
	path = project/include/FlameSteelFramework/FlameSteelBattleHorn
	url = https://gitlab.com/demensdeum/FlameSteelBattleHorn
[submodule "FlameSteelFramework/FlameSteelCommonTraits"]
	path = project/include/FlameSteelFramework/FlameSteelCommonTraits
	url = https://gitlab.com/demensdeum/FlameSteelCommonTraits
